.button-link {
  display: inline-block;
  text-align: center;
  width: 173px;
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  background-image: $linear-gradient;
  border-radius: 22px;
  transition: $opc-transition;
}

.button-link:hover {
  opacity: 0.6;
}


@media only screen and (max-width: 765px) {
  .navmenu-togler ~ .button-link {
    display: none;
  }
}