.site-footer {
  background-color: $heading-color;
  padding: 45px 0;
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__logo-link {
  display: block;
  margin-bottom: 55px;
}

.social-media-logo {
  color: #fff;
  text-decoration: none;
  margin-right: 13px;
}

.social-media-logo:hover {
  color: #30C88F;
}

.navfooter__list {
  @include rest-list;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: 130px;
}

.navfooter__item {
  margin-right: 30px;
}

.navfooter__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  width: 160px;
  &:hover {
    color: #30C88F;
  }
}

.footer__right-wrapper {
  text-align: right;
}

.copygrait {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  opacity: 0.5;
}

@media only screen and (max-width: 1000px) {
  .footer__logo-link {
    margin-bottom: 30px;
  }

  .navfooter__list {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 865px) {
  .navfooter__list {
    margin-left: 45px;
  }

  .navfooter__item {
    width: 120px;
  }
}

@media only screen and (max-width: 770px) {
  .footer__container {
    flex-direction: column;
    text-align: center;
  }

  .footer__logo-link {
    width: 140px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .navfooter__list {
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap;;
  }

  .navfooter__item {
    margin-top: 8px;
  }

  .footer__right-wrapper {
    text-align: center;
    margin-top: 150px;
  }
}


