.site-footer {
  background-color: $heading-color;
  padding: 45px 0;
}

.footer__logo {
  color: #fff;
  margin-bottom: 55px;
}

.social-media-logo {
  color: #fff;
  text-decoration: none;
  margin-right: 13px;
}

.social-media-logo:hover {
  color: #30C88F;
}

