// akalar to'g'irlash kerak shuniiiiiiiiiiii
.site-intro {
  position: relative;
  z-index: 3;
  background-image:  url("../../img/image-mockups.png"),url("../../img/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 767px 939px, 1271px 1034px;
  // background-size: contain;
  background-position:calc(50% + 430px) 35%, calc(50% + 500px) 60%;
}

.intro__wrapper {
  padding: 170px 0;
  max-width: 450px;
}

.intro__heading {
  margin-top: 0;
  color: $heading-color;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.intro__text {
  margin-top: 0;
  color: $text-color;
}